@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;

}

nav{
    font-family: 'ubantu','sans-serif';
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
/* width of logo */
.brand img{
    width:44px ; 
    padding: 0 8px;
}


.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

nav ul li{
    padding: 0 12px;
}
.container{
    height: 65vh;
    background-color: black;
    color: white;
    font-family: 'varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;
    background-image: url('Headphones_blog_lg.jpg');


}

.container h2{
     margin: 0 23px;
}
.songitemcontainer{
    margin-top: 20px;
}
/* Bottom */
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;/*icon mid e asche*/

}

.icon{
    margin-top: 14px;

}

.icon i{
    cursor: pointer;
}
#myProgressber{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50%;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 23px;
    
}

.songItem img{
    width: 30px;
    margin: 0 23px;
    border-radius: 23px;
}
.timespan{
    margin: 0 23px;
    cursor: pointer;
}

.timespan i{
    cursor: pointer;

}
.songinfo{
    position: absolute;
    left: 9vw;

}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    font-family: 'varela Round',sans-serif;
}